.chaos {
    padding: 0px 0px 140px 0px;
    @media (max-width: $md2+px){
        padding: 0px 0px 100px 0px;
    }

    &__content {
    }

    &__title {
    }

    &__descr {

    }

    &__img {
        opacity: 0;
        transform: rotate(360deg) scale(0);
        transition: all .3s ease-in-out;
        &._animate{
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
}
