.help {
    padding: 0px 0px 70px 0px;
    &__content {
    }

    &__title {
        opacity: 0;
        transform: translateY(-30px);
        transition: all .3s ease-in-out;
        &._animate{
            opacity: 1;
            transform: translateY(0px);
        }
        font-size: 32px;
        max-width: 781px;
        line-height: 150%;
        text-align: center;
        color: #212B31;
        margin: 0px auto 160px auto;
        @media (max-width: $md1+px){
            margin: 0px auto 120px auto;
        }
        @media (max-width: 1240px){
            font-size: 28px;
            margin: 0px auto 100px auto;
        }
        @media (max-width: $md3+px){
            font-size: 24px;
        }
        @media (max-width: $md4+px){
            font-size: 22px;
        }
    }

    &__body {
        display: flex;
        @media (max-width: 600px){
            flex-wrap: wrap;
        }
    }
    &__item{
        flex: 0 0 50%;
        @media (max-width: 600px){
           flex: 1 1 100%;
        }
    }
    &__text {
        @media (max-width: 600px){
            order: 2;
        }
        opacity: 0;
        transform: translateX(-30px);
        transition: all .3s ease-in-out;
        &._animate{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &__headline {
        font-size: 32px;
        line-height: 150%;
        color: #212B31;
        margin: 0px 0px 15px 0px;
        @media (max-width: 1240px){
            font-size: 26px;
            margin: 0px 0px 10px 0px;
        }
        @media (max-width: $md2+px){
           font-size: 20px;
        }
        @media (max-width: $md3+px){
            font-size: 18px;
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 160%;
        color: #72787D;
        margin: 0px 0px 25px 0px;
        @media (max-width: 1240px){
            font-size: 18px;
            margin: 0px 0px 15px 0px;
        }
        @media (max-width: $md3+px){
            font-size: 16px;
        }
    }

    &__link {
        
    }

    &__img {
        opacity: 0;
        transform: translateX(30px);
        transition: all .3s ease-in-out;
        &._animate{
            opacity: 1;
            transform: translateX(0px);
        }
        @media (max-width: 600px){
            order: 1;
            margin: 0px 0px 25px 0px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}


