@charset "UTF-8";

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.burger {
  display: none;
}

.header {
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header.after:after {
  opacity: 1;
  visibility: visible;
}

.header_active {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  height: 80px;
}

.header__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 236px;
          flex: 0 0 236px;
  position: relative;
  z-index: 7;
}

.header__logo img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin: 0px 22px 0px 0px;
}

.header__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  font-size: 16px;
  color: #72787D;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  padding: 0px 0px 2px 0px;
}

.header__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #FFD042;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__btn {
  position: relative;
  z-index: 7;
  font-size: 15px;
  color: #fff;
  padding: 0 20px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212B31;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  border: 1px solid #212B31;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  height: 50px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn_dark {
  font-size: 17px;
  color: #fff;
  margin: 0px 15px 0px 0px;
  background: #212B31;
  border: 1px solid #212B31;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.btn_light {
  font-size: 18px;
  color: #212B31;
  background: #fff;
  border: 1px solid #DADEDF;
  border-radius: 4px;
}

.hero {
  min-height: 100vh;
  padding: 170px 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #212B31;
  max-width: 818px;
  margin: 0 auto 30px auto;
}

.hero__buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0 88px 0;
}

.hero__img {
  margin: 0px 0px 35px 0px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero__img img {
  width: 100%;
  height: auto;
}

.hero__cars {
  margin: 0 auto;
  max-width: 818px;
}

.hero__cars img {
  max-width: 100%;
  height: auto;
}

.advantages {
  padding: 145px 0;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 20px;
}

.item-advantages {
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.item-advantages._animate {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.item-advantages._animate:nth-child(1) {
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

.item-advantages._animate:nth-child(2) {
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.item-advantages._animate:nth-child(3) {
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.item-advantages__img {
  width: 48px;
  height: 48px;
  margin: 0 auto 20px auto;
}

.item-advantages__img img {
  max-width: 100%;
  height: auto;
}

.item-advantages__title {
  font-size: 18px;
  line-height: 133%;
  color: #212B31;
  margin: 0px 0px 10px 0px;
}

.item-advantages__descr {
  font-size: 16px;
  line-height: 150%;
  color: #72787D;
}

.title {
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #212B31;
  margin: 0px 0px 20px 0px;
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.title._animate {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.descr {
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #72787D;
  margin: 0px auto 40px auto;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.descr._animate {
  opacity: 1;
}

.chaos {
  padding: 0px 0px 140px 0px;
}

.chaos__img {
  opacity: 0;
  -webkit-transform: rotate(360deg) scale(0);
      -ms-transform: rotate(360deg) scale(0);
          transform: rotate(360deg) scale(0);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
}

.chaos__img._animate {
  opacity: 1;
  -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.chaos__img img {
  width: 100%;
  height: auto;
}

.help {
  padding: 0px 0px 70px 0px;
}

.help__title {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 32px;
  max-width: 781px;
  line-height: 150%;
  text-align: center;
  color: #212B31;
  margin: 0px auto 160px auto;
}

.help__title._animate {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.help__text {
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.help__text._animate {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.help__headline {
  font-size: 32px;
  line-height: 150%;
  color: #212B31;
  margin: 0px 0px 15px 0px;
}

.help__descr {
  font-size: 20px;
  line-height: 160%;
  color: #72787D;
  margin: 0px 0px 25px 0px;
}

.help__img {
  opacity: 0;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.help__img._animate {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.help__img img {
  max-width: 100%;
  height: auto;
}

.company {
  padding: 0px 0px 120px 0px;
}

.company__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -20px;
}

.company__item {
  margin: 0px 0px 10px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.company__item._animate {
  opacity: 1;
}

.company__item._animate:nth-child(1) {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.company__item._animate:nth-child(2) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.company__item._animate:nth-child(3) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.company__item._animate:nth-child(4) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.company__item._animate:nth-child(5) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.about {
  padding: 0px 0px 140px 0px;
}

.about__descr {
  max-width: 827px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item:nth-child(even) .item-about__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about__item:nth-child(even) .item-about__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 65px 0px;
}

.item-about:last-child {
  margin: 0px 0px 0px 0px;
}

.item-about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.item-about__text._animate {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.item-about__headeline {
  font-size: 18px;
  line-height: 133%;
  color: #212B31;
  margin: 0px 0px 20px 0px;
}

.item-about__descr {
  font-size: 16px;
  line-height: 150%;
  color: #72787D;
}

.item-about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.item-about__img img {
  max-width: 100%;
  height: auto;
}

.item-about__img._animate {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.link {
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  color: #212B31;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.link:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 100%;
  height: 16px;
  background: #FFD042;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.delivery {
  padding: 0px 0px 125px 0px;
}

.delivery__descr {
  max-width: 643px;
}

.delivery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}

.delivery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 14px;
}

.delivery__footer {
  font-size: 20px;
  line-height: 160%;
  color: #72787D;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.delivery__footer._animate {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.item-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.item-delivery__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
}

.item-delivery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-delivery__text {
  padding: 0px 0px 0px 15px;
}

.item-delivery__headline {
  font-size: 18px;
  color: #212B31;
  margin: 0px 0px 10px 0px;
}

.item-delivery__descr {
  font-size: 16px;
  line-height: 150%;
  color: #72787D;
}

.item-delivery._animate {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.item-delivery._animate:nth-child(3n+2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item-delivery._animate:nth-child(3n+3) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

._container {
  max-width: 1456px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.hidden {
  overflow: hidden;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (min-width: 992px) {
  .header__link:hover:after {
    width: 100%;
  }

  .header__btn:hover {
    background: transparent;
    color: #212B31;
  }

  .btn_dark:hover {
    background: transparent;
    color: #212B31;
  }

  .btn_light:hover {
    color: #fff;
    background: #212B31;
    border: 1px solid #212B31;
  }

  .link:hover:before {
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 1468px) {
  .header__content {
    max-width: 1200px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .header__link {
    font-size: 15px;
  }

  .hero {
    padding: 120px 0 0px 0;
  }

  .hero__buttons {
    margin: 0px 0 40px 0;
  }

  .hero__img {
    margin: 0px 0px 20px 0px;
  }

  .help__title {
    margin: 0px auto 120px auto;
  }

  ._container {
    max-width: 1200px;
  }
}

@media (max-width: 1240px) {
  .header__content {
    max-width: 970px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }

  .header__list li {
    margin: 0px 15px 0px 0px;
  }

  .header__link {
    font-size: 14px;
  }

  .header__btn {
    font-size: 14px;
    padding: 0 15px;
  }

  .advantages {
    padding: 120px 0;
  }

  .item-advantages__descr {
    font-size: 15px;
  }

  .descr {
    font-size: 18px;
    margin: 0px auto 30px auto;
  }

  .help__title {
    font-size: 28px;
    margin: 0px auto 100px auto;
  }

  .help__headline {
    font-size: 26px;
    margin: 0px 0px 10px 0px;
  }

  .help__descr {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
  }

  .company {
    padding: 0px 0px 100px 0px;
  }

  .item-delivery__descr {
    font-size: 15px;
  }

  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .burger span {
    background: #212B31;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .burger:before {
    content: "";
    background: #212B31;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .burger:after {
    content: "";
    background: #212B31;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .burger_active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .burger_active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger_active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header {
    height: 80px;
  }

  .header_active {
    height: 60px;
  }

  .header__content {
    max-width: 750px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    margin: 0px 0px 0px 30px;
  }

  .header__menu {
    padding: 0px 0px 0px 0px;
  }

  .header__list li {
    margin: 0px 0px 15px 0px;
  }

  .header__list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFD042;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    padding: 100px 0 30px 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .header__list_active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__link {
    font-size: 20px;
  }

  .hero__title {
    font-size: 40px;
    max-width: none;
  }

  .advantages {
    padding: 100px 0;
  }

  .advantages__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0px 0px 40px 0px;
  }

  .advantages__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .title {
    margin: 0px 0px 10px 0px;
    font-size: 28px;
  }

  .descr br {
    display: none;
  }

  .chaos {
    padding: 0px 0px 100px 0px;
  }

  .help__headline {
    font-size: 20px;
  }

  .about {
    padding: 0px 0px 100px 0px;
  }

  .about__item:nth-child(even) .item-about__text {
    padding: 0px 0px 0px 10px;
  }

  .item-about__text {
    padding: 0px 10px 0px 0px;
  }

  .item-about__headeline {
    margin: 0px 0px 10px 0px;
  }

  .item-about__descr {
    font-size: 15px;
  }

  .delivery {
    padding: 0px 0px 100px 0px;
  }

  .delivery__body {
    margin: 0 -10px;
  }

  .delivery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 10px;
  }

  .delivery__footer {
    font-size: 18px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    max-width: none;
    padding: 0 10px;
  }

  .hero__title {
    font-size: 30px;
    margin: 0 auto 15px auto;
  }

  .advantages__content {
    margin: 0 -10px;
  }

  .advantages__item {
    padding: 0 10px;
  }

  .title {
    margin: 0px 0px 10px 0px;
    font-size: 26px;
  }

  .descr {
    font-size: 16px;
  }

  .help__title {
    font-size: 24px;
  }

  .help__headline {
    font-size: 18px;
  }

  .help__descr {
    font-size: 16px;
  }

  .item-about__headeline {
    font-size: 16px;
  }

  .item-about__descr {
    font-size: 14px;
  }

  .link {
    font-size: 16px;
  }

  .link:before {
    height: 14px;
  }

  .delivery__footer {
    font-size: 16px;
  }

  .item-delivery__descr {
    font-size: 14px;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .advantages__content {
    margin: 0px 0px 0px 0px;
  }

  .advantages__item {
    padding: 0px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .item-advantages__descr {
    font-size: 16px;
  }

  .help__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .help__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .help__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .help__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 25px 0px;
  }

  .item-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-about__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .item-about__headeline {
    font-size: 18px;
  }

  .item-about__descr {
    font-size: 16px;
  }

  .item-about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 25px 0px;
  }

  .delivery__body {
    margin: 0px 0px 0px 0px;
  }

  .delivery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .item-delivery__descr {
    font-size: 15px;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    margin: 0px 0px 0px 10px;
  }

  .btn {
    padding: 0 15px;
  }

  .btn_dark {
    margin: 0px 10px 0px 0px;
  }

  .hero {
    padding: 60px 0 0px 0;
  }

  .hero__title {
    font-size: 24px;
  }

  .title {
    font-size: 20px;
  }

  .help__title {
    font-size: 22px;
  }
}